:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* navbar */
.nav-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 4%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1px solid #35291d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.NAVBAR-LOGO {
  font-size: 2rem;
  font-weight: 700;
  color: #ffff;
  font-style: italic;
}

.NAVBAR-LOGO span {
  color: var(--primary);
}

.navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.navbar-nav a:hover {
  color: var(--primary);
}

.navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scale(0);
  transition: 0.2s linear;
}

.navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar-extra a {
  color: #fff;
  margin: 0 0.6rem;
}

.navbar-extra a:hover {
  color: var(--primary);
}
